section {
    padding: 5px;
}

.fribble-Main-objectSourceData {
    float: left;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.fribble-Main-objectSourceData--error {
    background-color: red;
}

.fribble-Main-objectSourceData-objectName {
    font-weight: bold;
}

.fribble-Main-objectSourceData-myData {
    display: block;
}

.fribble-Main-objectSourceData-frbExpression {
    clear: both;
}

.fribble-Main-objectSourceData-frbExpression input[type="text"] {
    width: 100%;
    font-family: Verdana;
    font-size: 18pt;
}

.fribble-Main-frbEditor {
    border: 1px solid gray;
    font-size: 18pt;
}

.fribble-Main-result {
    font-size: 14pt;
}

.fribble-Main-expressionList.matte-Select {
    height: 24em;
    float: right;
}
